// Variable prefixes we might need
:root {
   --exis-red: $exis-red;
}

// Fix some things coming out of bootstrap
.btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-warning {
    color: $white;
}

.text-serif {
    font-family: "Libre Baskerville", serif;
}

.text-sans {
    font-family: "Libre Franklin", sans-serif;
}

.text-red {
    color: $exis-red;
}

.text-body {
    font-family: $font-family-sans-serif;
}

.text-heading {
    font-family: $headings-font-family;
}

div.subheader {
  color: $gray-500;
  font-size: 0.5em;
}

// Block Banners
// Block Banners are 32x9 banners that either stack (sm) or side-by-side (md).
// The cover banner is a special block banner.

.block-banner {
    text-shadow: 2px 2px 4px $black;
}

.block-banner-cover-row > .col {
    width: 100%;
    height: 42.85714286vh;
}

// #cover .block-banner-cover-row .col {
//     height: 50vh;
// }

.hero .block-banner-cover-row .col  {
    height: 50vh;
}

.block-banner-left {
    background-color: $exis-blue;
}

.block-banner-right {
    background-color: $exis-red;
}

.block-banner-col {
    //background-image: url(https://picsum.photos/800/225);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: $white;
    font-family: $headings-font-family;
    //font-size: rfs-fluid-value(4rem);
    font-weight: 700;
    font-size: 6vw;
}

.block-banner-subtext {
    font-size: 2.5vw;
}

.block-banner-inner {
    //text-shadow: 1px 1px 2px $black;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.block-banner-glyph {
    display: block;
    margin: 0px auto;
    width: 15%;
    height: auto;
    text-align: center;
    filter: drop-shadow(2px 2px 4px $black);
    text-shadow: none;
}

@include media-breakpoint-up(md) {
    .block-banner-cover-row > .col {
        width: 50%;
        height: 42.85714286vh;
    }

    .hero .block-banner-cover-row .col {
        height: 100vh;
    }

    .block-banner-col {
        font-size: 4vw;
    }
    .block-banner-subtext {
        font-size: 2vw;
    }

    .block-banner-glyph {
        width: 30%;
    }
}

// Responsive iframe container
// Because currently, the Bootstrap way doesn't seem to work?
.fluid-iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.fluid-iframe-container iframe {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

