$font-family-sans-serif: 'Libre Baskerville', serif, system-ui, -apple-system, 
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", 
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-family:  'Libre Franklin', sans-serif;

// EXIS COLORS
$exis-red: rgb(249, 56, 34);        // Pomegranate
$exis-green: rgb(67, 176, 42);      // Apple
$exis-blue: rgb(0, 156, 166);       // Bondi Blue
$exis-orange: rgb(232, 119, 34);    // Tango

// 2022 palette colors
$exis-seagreen: rgb(61, 110, 113);  // William
$exis-yellow: rgb(253, 185, 3);     // Selective Yellow
$exis-saltbox: rgb(104, 83, 105);   // Salt Box
$exis-reef: rgb(201, 255, 185);     // Reef

$exis-steel-gray: rgb(32, 32, 48);  // Steel Gray
$exis-black: rgb(12, 15, 10);       // Marshland

// Dark/Light Versions
$exis-darken-amount: 30;
$exis-dark-red: darken($exis-red, $exis-darken-amount);
$exis-dark-green: darken($exis-green, $exis-darken-amount);
$exis-dark-blue: darken($exis-blue, $exis-darken-amount);
$exis-dark-orange: darken($exis-orange, $exis-darken-amount);

$exis-lighten-amount: 30;
$exis-light-red: lighten($exis-red, $exis-lighten-amount);
$exis-light-green: lighten($exis-green, $exis-darken-amount);
$exis-light-blue: lighten($exis-blue, $exis-darken-amount);
$exis-light-orange: lighten($exis-orange, $exis-darken-amount);

// $primary:       $exis-red;
// $secondary:     $exis-orange;
// $success:       $exis-light-green;
// $info:          $exis-light-blue;
// $warning:       $exis-light-orange;
// $danger:        $exis-light-red;
// //$light:         $gray-100 !default;
$dark:          $exis-steel-gray;

$black: $exis-black;


