{{ with .Resources.GetMatch "gala.txt"  }}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            {{ .Content | markdownify }}
        </div>
    </div>
</div>
{{ end }}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="fluid-iframe-container">
                <iframe src="https://www.youtube.com/embed/owLILfS1ZPk" title="2021 Gala" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div onclick="this.nextElementSibling.style.display='block'; this.style.display='none'">
               <img src="gala-cover.webp" style="cursor:pointer" />
            </div>
            <div class="fluid-iframe-container" style="display:none">
                <iframe src="https://www.youtube.com/embed/owLILfS1ZPk?autoplay=1" title="2021 Gala" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<style>
#bbgala .block-banner-left {
    background-image: url("gala-16x9.webp");
}
#bbgala .block-banner-right {
    background-color: #202030;
}

</style>
<div id="bbgala" class="container-fluid block-banner mt-5">
    <div class="row row-cols-1 row-cols-md-2 block-banner-cover-row">
        <div class="col g-0 block-banner-left block-banner-col text-center p-4">
            <div class="block-banner-inner">
                <div>
                    Community
                </div>
            </div>
        </div>
        <div class="col g-0 block-banner-right block-banner-col text-center p-4">
            <div class="block-banner-inner">
                <div>
                    <b class="text-red">Extra</b><b>ordinary</b><b class="text-red">IS</b>
                </div>
            </div>
        </div>
    </div>
</div>
