<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1>Join the <b class="text-red">Movement</b></h1>
            <p class="lead">
                <i>What does extraordinary mean to you?</i>
            </p>
            <p>
                The <b class="text-red">Extra</b><b>ordinary</b><b class="text-red">IS</b> movement seeks to improve our community by finding and rewarding ordinary people who have the conviction to achieve extraordinary goals with limited resources. Join us in honoring and celebrating these extraordinary heroes in our community.
            </p>
            <p>
                <a href="https://twitter.com/hashtag/myextraordinaryis?src=hash">#ExtraordinaryIS</a>
                <a href="https://twitter.com/hashtag/ORBF?src=hash">#ORBF</a>
                <a href="https://twitter.com/hashtag/OtisandRosieBrownFoundation?src=hash">#OtisandRosieBrownFoundation</a>
            </p>
        </div>
        <div class="col">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/300626656?h=854d6da500&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="ExtraordinaryIs Gala 2018 / Otis &amp;amp; Rosie and the Library"></iframe></div>
            <script src="https://player.vimeo.com/api/player.js"></script>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col text-center">
            <button class="btn btn-primary">Volunteer Your Time</button>
            <button class="btn btn-secondary">Donate to the Movement</button>
            <button class="btn btn-primary">Subscribe to Our Newsletter</button>
        </div>
    </div>
</div>
