<div class="container mt-5">
    <div class="row">
        <div class="col col-12 col-md-6">
            <div class="row row-cols-6 row-cols-md-3">
                <div class="col g-2"><img class="img-fluid" src="/images/students/Andrew%20S.jpg"></div>
                <div class="col g-2"><img class="img-fluid" src="/images/students/Haya%20Q.jpg"></div>
                <div class="col g-2"><img class="img-fluid" src="/images/students/Christin%20W.jpg"></div>
                <div class="col g-2"><img class="img-fluid" src="/images/students/Felicia%20M.jpg"></div>
                <div class="col g-2"><img class="img-fluid" src="/images/students/Mang%20C.jpg"></div>
                <div class="col g-2"><img class="img-fluid" src="/images/students/Ethan%20C.jpg"></div>
            </div>
        </div>
        <div class="col col-12 col-md-6 mt-3 mt-md-0">
            <h1>2022 <b class="text-red">Extra</b><b>ordinary</b><b class="text-red">IS</b> Scholarships</h1>
            <p>The Otis and Rosie Brown Foundation is now accepting scholarship applications for class of 2022 high school seniors in the North Texas area. Applications will be accepted until the end of April, 2022.</p>
            <p>The foundation is also accepting applications for sustaining grants from previous <b class="text-red">Extra</b><b>ordinary</b><b class="text-red">IS</b> scholarship awardees.</p>
        </div>
    </div>
    <div class="row mt-md-5">
        <div class="col col-12 col-md-6">
            <h2>New Scholarships <div class="subheader">for high school students</div></h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo sunt nulla nesciunt tenetur eveniet ipsam libero sed ea quasi nisi illum at vitae, cupiditate reprehenderit sit ut explicabo molestias maxime.</p>

            <div class="d-md-none">
                <button type="button" class="btn btn-primary btn-lg">Apply for Scholarship</button>
            </div>
        </div>
        <div class="col col-12 col-md-6 mt-3 mt-md-0">
            <h2>Sustaining Grants <div class="subheader">for college students</div></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea blanditiis dolorem odit doloremque, beatae molestiae ab possimus quis debitis, asperiores harum a. Porro eum necessitatibus id reiciendis, voluptas nobis blanditiis!</p>

            <div class="d-md-none">
                <button type="button" class="btn btn-secondary btn-lg">Apply for Grant</button>
            </div>
        </div>
        <!-- Display the buttons on medium here (small inline above) -->
        <div class="col col-12 col-md-6 d-none d-md-block">
            <div>
                <button type="button" class="btn btn-primary btn-lg">Apply for Scholarship</button>
            </div>
        </div>
        <div class="col col-12 col-md-6 mt-3 mt-md-0 d-none d-md-block">
            <div>
                <button type="button" class="btn btn-secondary btn-lg">Apply for Grant</button>
            </div>
        </div>
    </div>
</div>

<style>
    #bbscholars .block-banner-left {
        background-color: #009ca6;
        //background-color: var(--exis-red);
    }

    #bbscholars .block-banner-right {
        background-image: url("dab-16x9.webp");
    }
</style>

<div id="bbscholars" class="container-fluid block-banner mt-5">
    <div class="row row-cols-1 row-cols-md-2 block-banner-cover-row">
        <div class="col g-0 block-banner-left block-banner-col text-center p-4">
            <div class="block-banner-inner">
                <div>
                    <b class="text-red">Extra</b><b>ordinary</b><b class="text-red">IS</b>
                </div>
            </div>
        </div>
        <div class="col g-0 block-banner-right block-banner-col text-center p-4">
            <div class="block-banner-inner">
                <div>
                    <b class="text-white">Education</b>
                </div>
            </div>
        </div>
    </div>
</div>
