<div class="container mt-5">
    <div class="row">
        <div class="col col-12 col-md-6">
            <div class="row row-cols-6 row-cols-md-3">
                <div class="col g-2"><img class="img-fluid" src="/images/students/Andrew%20S.jpg"></div>
                <div class="col g-2"><img class="img-fluid" src="/images/students/Haya%20Q.jpg"></div>
                <div class="col g-2"><img class="img-fluid" src="/images/students/Christin%20W.jpg"></div>
                <div class="col g-2"><img class="img-fluid" src="/images/students/Ethan%20C.jpg"></div>
                <div class="col g-2"><img class="img-fluid" src="/images/students/Felicia%20M.jpg"></div>
                <div class="col g-2"><img class="img-fluid" src="/images/students/Mang%20C.jpg"></div>
            </div>
        </div>
        <div class="col col-12 col-md-6 mt-3 mt-md-0">
            <h1>2022 <b class="text-red">Extra</b><b>ordinary</b><b class="text-red">IS</b> Scholarships</h1>
            <p>The Otis and Rosie Brown Foundation is now accepting scholarship applications for class of 2022 high school seniors in the North Texas area. Applications will be accepted until the end of April, 2022.</p>
            <p>The foundation is also accepting applications for sustaining grants from previous <b class="text-red">Extra</b><b>ordinary</b><b class="text-red">IS</b> scholarship awardees.</p>
        </div>
    </div>
    <div class="row mt-md-3">
        <div class="col col-12 col-md-6">
            <h2>New Scholarships</h2>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo sunt nulla nesciunt tenetur eveniet ipsam libero sed ea quasi nisi illum at vitae, cupiditate reprehenderit sit ut explicabo molestias maxime.
        </div>
        <div class="col col-12 col-md-6 mt-3 mt-md-0">
            <h2>Sustaining Grants</h2>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea blanditiis dolorem odit doloremque, beatae molestiae ab possimus quis debitis, asperiores harum a. Porro eum necessitatibus id reiciendis, voluptas nobis blanditiis!
        </div>
    </div>
</div>


<div class="container-fluid g-0 block-banner">
    <div class="row row-cols-1 row-cols-md-2 block-banner-cover-row">
        <div class="col g-0 block-banner-left block-banner-col text-center p-4">
            <div class="block-banner-inner">
                <div>
                    <b class="text-red">Extra</b><b>ordinary</b><b class="text-red">IS</b>
                    <div class="block-banner-subtext text-center">
                        A Movment by the Otis and Rosie Brown Foundation
                    </div>
                </div>
            </div>
        </div>
        <div class="col g-0 block-banner-right block-banner-col text-center p-4">
            <div class="block-banner-inner">
                <div>
                    <b class="text-black">Extra</b><b>ordinary</b><b class="text-black">IS</b>
                    <div class="block-banner-subtext text-center">
                        A Movement by the Otis and Rosie Brown Foundation
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
